p {
  font-family: 'Great Vibes', cursive;
  font-size: 4.5vw;
  font-weight: bold;
  margin: 0px;
}

#recipe {
  font-size: 2vw;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vw;
}

input {
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-size: 1.1em;
  text-align: right;
  padding-right: 1vw;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-size: 1.1em;
  text-align: right;
  padding-right: 1vw;
}

::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-size: 1.1em;
  text-align: right;
  padding-right: 1vw;
}

::placeholder {
  color: black;
  opacity: 1;
  font-size: 1.1em;
  text-align: right;
  padding-right: 1vw;
}

.navbar {
  padding: 0px;
  margin: 2vw;
}

ul {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  padding-left: 0px;
  padding-top: 2vw;
  padding-bottom: 2vw;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid grey;
  border-left: none;
  border-right: none;
  font-size: 2.8vw;
}

.navbarlink {
  text-decoration: none;
  color: black;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 2vw 3vw;
  margin: 6vh 10vw;
}

.imageoverlay {
  height: 25vw;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  margin-top: -6.3vh;
  background-color: black;
  opacity: 0.7;
  color: white;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  font-size: 1rem;
}

footer {
  background-color: black;
  color: white;
  padding-bottom: 0.5vw;
  width: 100%;
}

.footerlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-padding-start: 0px !important;
          padding-inline-start: 0px !important;
  padding-right: 0vw;
  padding-left: 0vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
}

.divide {
  border-right: 2px solid grey;
}

.linkss {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding-left: 6vw;
  padding-right: 6vw;
}

.icon {
  padding-top: 0.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disclaim {
  text-align: center;
  font-size: 1.3vh;
}

h5 {
  margin-top: 1vh;
  margin-bottom: 0vh;
}

@media screen and (max-width: 767px) and (min-width: 481px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 3vw 3vw;
    margin: 6vh 10vw;
  }
  img {
    width: 100%;
    height: 33vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .imageoverlay {
    height: auto;
    width: auto;
  }
  .overlay {
    margin-top: -6.3vh;
    background-color: black;
    opacity: 0.7;
    color: white;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6vh;
    font-size: 1rem;
  }
  .linkss {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1, 1fr;
        grid-template-columns: 1, 1fr;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 3vh 3vw;
    margin: 6vh 10vw;
  }
  img {
    width: 100%;
    height: 35vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .imageoverlay {
    height: auto;
    width: 75vw;
  }
  .overlay {
    margin-top: -6.3vh;
    background-color: black;
    opacity: 0.7;
    color: white;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6vh;
    font-size: 1rem;
  }
  .linkss {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
/*# sourceMappingURL=style.css.map */