h1 {
    color: red;
}
footer{
    color: black;
    padding-bottom: 0.5vw;
    width: 100%;    
}
.footerlink{  
    text-decoration: none;
    color:white;
}
.linkss{
    text-decoration: none;
    color: black;
    font-size: 2vw;
    padding-left: 6vw;
    padding-right: 6vw;
}