p {
    font-family: 'Great Vibes', cursive;
    font-size: 4.5vw;
    font-weight: bold;
    margin: 0px;
}

#recipe {
    font-size: 2vw;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;
}

input {
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

::placeholder {
    color: black;
    opacity: 1;
    font-size: 1.1em;
    text-align: right;
    padding-right: 1vw;
}

.navbar {
    padding: 0px;
    margin: 2vw;
}

ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-left: 0px;
    padding-top: 2vw;
    padding-bottom: 2vw;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 3px solid grey;
    border-left: none;
    border-right: none;
    font-size: 2.8vw;
}

.navbarlink {
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2vw 3vw;
    margin: 6vh 10vw;
}

.imageoverlay {
    height: 25vw;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    margin-top: -6.3vh;
    background-color: black;
    opacity: 0.7;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 1rem;
}

footer {
    background-color: black;
    color: white;
    padding-bottom: 0.5vw;
    width: 100%;
}

.footerlink {
    display: flex;
    flex-flow: row;
    padding-inline-start: 0px !important;
    padding-right: 0vw;
    padding-left: 0vw;
    justify-content: center;
    border: 0px;
}

.divide {
    border-right: 2px solid grey;
}

.linkss {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding-left: 6vw;
    padding-right: 6vw;
}

.icon {
    padding-top: 0.3vw;
    display: flex;
    justify-content: center;
}

.disclaim {
    text-align: center;
    font-size: 1.3vh;
}

h5 {
    margin-top: 1vh;
    margin-bottom: 0vh;
}

// TABLET VIEW
@media screen and (max-width: 767px) and (min-width: 481px) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 3vw 3vw;
        margin: 6vh 10vw;
    }

    img {
        width: 100%;
        height: 33vh;
        object-fit: cover;
    }

    .imageoverlay {
        height: auto;
        width: auto;
    }

    .overlay {
        margin-top: -6.3vh;
        background-color: black;
        opacity: 0.7;
        color: white;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 6vh;
        font-size: 1rem;
    }

    .linkss {
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        padding-left: 6vw;
        padding-right: 6vw;
    }

}

// MOBILE VIEW
@media screen and (max-width: 480px) {

    .container {
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 3vh 3vw;
        margin: 6vh 10vw;
    }

    img {
        width: 100%;
        height: 35vh;
        object-fit: cover;
    }

    .imageoverlay {
        height: auto;
        width: 75vw;
    }

    .overlay {
        margin-top: -6.3vh;
        background-color: black;
        opacity: 0.7;
        color: white;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 6vh;
        font-size: 1rem;
    }

    .linkss {
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        padding-left: 6vw;
        padding-right: 6vw;
    }

}